.employee {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .EmpCard {
    width: 80%;
    height: 75vh;
    border-radius: 25px;

    .container {
      width: 70%;
      height: 100%;
      background-color: white;
      border: 10px solid #00334e;
      
      border-radius: 25px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      overflow-x: auto;
      row-gap: 3%;
      column-gap: 2%;
      

      .SerchBar {
        margin-top: 3%;
        width: 90%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 769px) {
          width: 100%;
        }
        
        .search-form {
          width: 100%;
          display: flex;
          column-gap: 1px;
          
          @media only screen and (max-width: 769px) {
            flex-wrap: wrap;
          }
          .input-group {
            width: 80%;
            border: 2px solid #b7b7b7;
            border-radius: 9px;
            @media only screen and (max-width: 769px) {
              width: 100%;
            }
            .search-input {
              border-radius: 9px;
              border: none;
              width: 70%;
              @media only screen and (max-width: 769px) {
                width: 100%;
              }
            }

            .form-select {
              
              color: #00334e;
              border: 2px solid #b7b7b7;
              border-top: 0;
              border-bottom: 0;
              border-right: 0;
              background-color: #00334e11;
              @media only screen and (max-width: 769px) {
                text-align: center;
                font-size: larger;
                font-weight: 500;
              }

              
            }
          }

          .btn {
            background-color: #00334e;
            height: 39px;
            width: 20%;
            border-radius: 9px;
            border: 0;
            @media only screen and (max-width: 769px) {
              width: 100%;
            }
          }
        }
      }

      .box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40%;
        text-decoration: none;
        color: #00334e;
        @media only screen and (max-width: 769px) {
          width: 100%;
        }
        
        
        .card{
          
            width: 80%;
            height: 80%;
            border: 3px solid #00334E !important;
            .card-header{
              
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60%;
              background-color: #F6F6F6;
              svg{

                border-radius: 50px;
                background-color: #E4E4E4;
                height: 80px;
                width: 80px;

              }
            }

            .card-body{
              
              
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: #F6F6F6;
              height: 40%;
              .card-title{

                font-size: 16px;

              }
              .card-text{

                font-size: 6px;
                font-weight: 700;
              }
              

            }
            :hover{
              text-decoration: underline;
            }

        }
        

      }
      
    }
    ::-webkit-scrollbar{
        width: 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #b7b7b7;
      }  
      ::-webkit-scrollbar-thumb{
        
        background-color: #00334e;
    }
    
  }
}
