.login {
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    //for input autofill style
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s;
      -webkit-text-fill-color: #000000 !important;
    }
  
    //for selection color
    ::selection{
  
      background-color: #00334e2c;
  
    }
  
  
    .form_container {
      height: 70vh;
      width: 40%;
      background-color: white;
      border-radius: 15px;
      @media only screen and (max-width: 600px) {
        
        width: 70%

      }
  
  //top bar "create acount"
  .top_bar{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 9%;
      background-color: #00334E;
      border-radius: 15px;
      margin-bottom: 40px;
      h1{
  
          color: white;
          font-weight: 500;
          font-size: 25px;
          font-size: 2.2vw;
          margin: 0;
  
      }
  
  }    


  ._1{

    height: 20px;
    
    

    .jsonMsg{
        
        display: flex;
        justify-content: center;
        border-radius: 15px;
        
        span{
            
            color: white;

        }

    }
    
}
  // grid container
      .container-fluid{

          margin-top: 70px;
          width: 70%;
          
          padding: 0;
  
          //label style
              .form-label{
                  
                margin: 0;
                width: fit-content;
                height: 18px;
                background-color: white;  
                font-size: 15px;
                transform: translate(15px,10px);
                font-weight: 500;
                color: #00334E;
                border-left: 7px solid rgb(255, 255, 255);
                border-right: 7px solid rgb(255, 255, 255);  
          }
  
          //input style
          input{
  
              border-style: solid;
              border-width: 2px;
              border-color: #878889;
              :focus{border-color: #878889 ;}
              margin-bottom: 20px;
  
          }
  
          //signup button style
          ._7{
  
              margin-top: 20px;
  
              button{
  
                  width: 100%;
                  background-color: #00334E;
                  border: none;
                  font-size: 20px;
                  font-weight: 400;
  
              }
  
          }
  
          //linke style in last 2 buttons
          ._8{
  
              margin-top: 30px;
              
              a{
  
                  
                  text-decoration: none;
  
              }
  
          }
          //Employee Portal button
          #empPortal{
                
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  background-color: #878889;
                  border: none;
                  height: 30px;
                  font-size: 15px;
                  font-weight: 400;
  
          }
  
          //signUp button
          #signUpBtn{
  
                  text-decoration: none;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  background-color: #00334E;
                  border: none;
                  height: 30px;
                  font-size: 15px;
                  font-weight: 400;
  
          }
  
      }
         
  
      }
  
    }
  
  
  //create account text
  
  
  
  
  